@charset "utf-8";
/* CSS Document */

.container {	
	font-family:Verdana, Geneva, sans-serif;
	width:100%;
}
.container ul {
	list-style-type:none;
	margin:0px;
	padding:10px;
}
.container h3.handle {
	margin:0;
	padding:20px;
	border-radius: 5px;
	color:#000;
	background-color:#cceeee;
	cursor:pointer;
}
.container h3.open {
	background-color:#99bbdd;
	
}